@font-face {
font-family: 'AgencyFB-Bold';
 src: url('../assets/fonts/agencyb-webfont.eot');
        src: url('../assets/fonts/agencyb-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/agencyb-webfont.svg#AgencyFb') format('svg'),
        url('../assets/fonts/agencyb-webfont.woff') format('woff'),
        url('../assets/fonts/agencyb-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: "DIN Engschrift Std";
        src: url('../assets/fonts/dinmd___-webfont.eot');
        src: url('../assets/fonts/dinmd___-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/dinmd___-webfont.svg#DIN Engschrift Std') format('svg'),
        url('../assets/fonts/dinmd___-webfont.woff') format('woff'),
        url('../assets/fonts/dinmd___-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: "AgencyFb";
        src: url('../assets/fonts/agencyb-webfont.eot');
        src: url('../assets/fonts/agencyb-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/agencyb-webfont.svg#AgencyFb') format('svg'),
        url('../assets/fonts/agencyb-webfont.woff') format('woff'),
        url('../assets/fonts/agencyb-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
html, body {
	
  width: 100%;
  height:100%;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
::-webkit-scrollbar { 
    display: none; 
}

.rightVendorData
{
  text-align: right;
}

.eventImg
{
 
height: 250px;
width: 40%;
float: right;
margin-right: 30px;
}
.eventDescription
{
  width: 50%;
  margin-left: 40px;
}

.instant
{
top: 198px;
/* left: 15px; */
position: absolute;

background-color: #b8392a;
width: 1024px;
min-height: 65px;
height: auto;
overflow: hidden;
opacity:0;
color: white;
font-size: 25px;
 font-family: "DIN Engschrift Std";

}
#instantImage
{
  height: 45px;
  margin-top:2%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#instantMessage
{
  margin-top: 15px;
}


.operationAlert
{
top: 198px;
/* left: 15px; */
position: absolute!important;

background-color: #b8392a;
width: 1024px;

height: 566px;
overflow: hidden;
opacity:0.93;
color: white;
font-size: 25px;
 font-family: "DIN Engschrift Std";


}

.operationAlert img
{
width: 100px;
margin-left: 462px;
margin-top: 50px;
margin-bottom: 60px;
}
#OperationAlertMessage
{
font-size: 25px;
margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}
 
 #OperationAlertTitle
 {
  font-size: 30px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
 text-align: center;
 }


#container {
  width: 100%;
  height: 700px;
  background-image:url(../assets/imgs/vendorListingBg.gif);
  background-size: 100% 134px;
  background-repeat:no-repeat;
  display:table;
  border-spacing: 0px;
}
#location
{
 height: 54px;
 padding-top:10px;
width: 100%;
background-color: black;

}
#leftLocation
{
 float:left;
}
#middleLocation
{
	font-family: "AgencyFb";
	width: 100%;
float:none;
font-size: 21px;
color: #ffffff;

}
#middleLocation img{
	width:140px;
	height:auto;
	vertical-align:middle;
}
#middleLocation div{
	display:inline-block;
	height:100%;
	width: auto;
	vertical-align:middle;
}

#timeContainer
{
 width:100%;
}
#rightLocation
{
  float:right;
}

#rightTable,#leftTable
{
 
}
#rightTable img,#leftTable img
{
 vertical-align:middle;
height:31px;
padding-left: 10px;
padding-right: 10px;
}
#rightLocationText, #leftLocationText 
{
	font-family: "AgencyFb";
  display: inline-block;
  vertical-align:middle;
  font-size:35px;
  color: #ffffff;
}


#content-container {
  width: 100%;
  height: 100%;
  display: table-cell;
 vertical-align:top;
 overflow:hidden;
}

#content-container .contentContainer{
	position:relative;
	
}
#header {
 
  width: 100%;
  height: 134px;
 
}
#mapContent {
  width: 1024px;
 height:566px;
}


#aside {
 
  height:auto;
  display: table-cell;
 vertical-align:top;

}
#aside .paidAds {
	width:341px;
	height:134px; 
}
#aside .paidAds img{
	width:100%;
	height:auto; 
 
}
.Row{
  display: table;
  
  padding-left:40px;
  padding-right: 40px;
  width: 100%;
  height:100%;
  color: #ffffff;
  position: absolute;
  top:0;
}

.Row img
{
  height:100px;
}

#VendorContainer
{
color: white;
position:relative;
}
.leftvendorLogo img, .rightvendorLogo img
{
	width:75px;
  height:auto;
}
#vendorName
{
	font-family: "AgencyFb";
font-size: 40px;
font-weight:bold;
}
#vendorData
{
  display: table-cell;
  vertical-align:middle;
  padding-right: 30px;

  height:134px;
}

#vendorDescription,#vendorTitle
{
	font-family: "AgencyFb";
  font-size: 28px;
  color:#b0b0b0;
}
#vendorTitle
{
  color:#ffffff;
}
#leftVendorDirection, #leftVendorImage, .rightvendorLogo ,.leftvendorLogo, #rightVendorDirection, #rightVendorImage{
  display: table-cell;
  width: 60px;
  padding-right: 40px;
   vertical-align: middle;
}
#leftVendorImage img, #rightVendorImage img
{
	width:75px;
	height:auto;
	}
	
	#leftVendorDirection img, #rightVendorDirection img
{
	width:45px;
	height:auto;
	}

/*nearby module*/
.nearbyRow{
	  font-family: "DIN Engschrift Std";
  display: table;
  width: 100%;
  height:100%;
  color: #323232;
  padding-top: 10px;
padding-bottom: 10px;
  
}
.nearbyRow >div{
	display:table-cell;
	height:100%;
	vertical-align:middle;
}

#nearbyLeftVendorDirection img
{
	margin-right:5px;
 margin-left:5px;
  
}
#nearbyVendorName,#nearbyVendorDescription,#neabyLeftVendorImage,#neabyRightVendorImage
{
  height:auto;
  text-align:left;

}
#neabyLeftVendorImage,#neabyRightVendorImage{
	text-align:center;
	width:46px;
	
	
}
#nearbyLeftVendorDirection,#nearbyRightVendorDirection{
	width:30px;
}
#nearbyVendorName
{
	 font-family: "DIN Engschrift Std";
  font-size: 20px;
  color:#333333;
width:190px;
margin-top: 16px;
}
#nearbyVendorDescription
{
  font-size: 15px;
  width:30%;
  margin-top: 16px;
}

#neabyLeftVendorImage
{
  margin-right:15px;
}
#neabyLeftVendorImage img,#neabyRightVendorImage img
{
width: 35px;
height: auto;
}
#nearbyRightVendorDirection img,#nearbyLeftVendorDirection img
{
width: 18px;
height: auto;
}
.idlePlayModule {
  position: absolute;
 width: 1024px;
height: 566px;
  top: 200px;
  z-index: 100;
}

#idleComp {
  background-color: #000000;
  position: relative;
  height: 100%;
  width: 100%;
}

#idleComp video, #idleComp img, #idleComp iframe {
  position: relative;
  width: 100%;
  height: 100%;
}
#searchWrapper{
	position:absolute;
	left:0px;
	bottom:10px;
	display:none;
}
.clearItem{
	clear:left;

}

#foodType
{
  position: relative;

margin-bottom: 5px;
}



#foodText
{
  display: inline-block;
vertical-align: middle;
height: 100%;
margin-right: 20px;
}

.adaPanelHeight {
height: 415px !important;
}




.rowtable img{
  width:35px;
}
.rowtable .service
{
  width: 100px!important;
}
.rightArrow
{
  float: right;
  padding-right: 30px;
}

.downArrow
{
  float: left;
  width: 50px;
}
#findText
{
font-size: 30px;
margin-left: 35px;
color: #999999;
font-family: "DIN Engschrift Std";
margin-top: 25px;
}

.serviceName
{
  font-family: "DIN Engschrift Std";
font-size: 20px;
color: #333333;

}
.rowtable 
{
   font-family: "DIN Engschrift Std";
font-size: 20px;
color: #333333;
}


.moreTitle {
    font-family: "DIN Engschrift Std";
font-size: 15px;
color: #333333;
width: auto!important;
margin-left: 20px;
margin-right: 20px;
border-top: 4px solid #c0c0c0;
margin-bottom: 0px!important;
}
.moreTitle #titleText
{
  font-size: 20px;
}
.moreTitle img{
  float:left;
  margin-right: 10px;
}

#eventName
{
  width:250px!important;
}
#eventDate
{
  width:100px!important;
  font-size: 12px;
}
#eventTime
{
  font-size: 12px;
}
#leafInfo
{
  line-height: 50px;
font-size: 30px;
width: 95%;
margin-left: 2.5%;
}

.logohide
{
  display: none;
}
#seatFinderWrapper{
		position:relative; 
		z-index:1;
	

	height:100%;
	overflow:auto;
	text-align:center;
}
.topMsgtxt{
	font-family: "DIN Engschrift Std";
	font-size:15px;
	margin-bottom:12px;
	color:#333333;
	border-bottom:2px dotted #d6d6d6;
	padding:5px;
	margin-left:20px;
	margin-right:20px;
}
.seatfinderNav ul{
	margin:0px;
	padding:0px;
	text-align:center;
	display: inline-block;
}
.seatfinderNav li{
	font-family: "DIN Engschrift Std";
	width:200px;
	font-size:15px;
	padding:5px;
	margin-bottom:15px;
	border:2px solid #50a1ec;
	color:#282828;
list-style:none;
border-radius:5px;
font-weight:bolder;
 -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
		cursor:pointer;
}
.seatFinderActive{
	background-color:#268ae7;
	color:#FFF !important;
}

#seatFinderTable{
	display:table;
	width:100%;
	
	margin-left:20px;
	margin-right:20px;
	
}
#seatFinderTable .seatFinderColumn{
	width:50%;
	text-align:left;
}
#seatFinderTable .seatFinderColumn:first-child{
	display:table-cell;
	vertical-align: top;
}


#numberList{
	display:none;
}
#secondList{
	display:none;
}
#thirdList{
display:none;
}


#seatFinderTable #scroller li {
	background-color:#ffffff;
}
.listNumberContainer{
	width: 222px;
height: 258px;
position: relative;
overflow: hidden;
background-image:url(../assets/imgs/seatFinderBack.png);
background-repeat:no-repeat;
background-size:100% 100%;
}
.listNumberContainer .Seatband{
	font-family: "DIN Engschrift Std";
	position:absolute;
	height:25px;
	background-color:#268be7;
	width:184px;
	color:#FFF;
	padding:10px;
	
	font-size:15px;
	margin-left:10px;
	margin-right:10px;
	text-align:left;
	top:109px;
}
#SeatListWrapper {
	position:absolute; z-index:1;
	top:110px; bottom:110px; ;
	width:100%;
	overflow:visible !important;
}
#SeatListWrapper1,#SeatListWrapper2 {
	position:absolute; z-index:1;
	top:110px; bottom:110px; ;
	width:100%;
	overflow:visible !important;
}

.seatFinderScroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

.seatFinderScroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

.seatFinderScroller li {
	padding:10px;
	font-weight:bold;
	text-align:	center;
	line-height:20px;
	color:#282828;
	font-size:15px;
}

.seatFinderRowSelected{
	color:#fff !important;
	font-size:21px !important;
}
.non-selected{
	font-size:15px ;
}
.seatFinderFooter{
	
	margin-left:20px;
	margin-right:20px;
	border-top:1px solid #999;
	padding-top:20px;
	position:relative;
	margin-top:20px;
	
}
.seatFinderFooter .navbuttonContainer{
	display:table;
	width:100%;
}
.seatFinderFooter .navbuttonContainer .col{
display:table-cell;
width:50%;
vertical-align:top;
}
.seatFinderFooter .navbuttonContainer .col >div{
	display:none;
}

 .insideButton{
	font-family: "DIN Engschrift Std";
 background-color:#000;
 color:#FFF;
 font-weight:bold;
 display:inline-block;
 border-radius:5px;
 padding-left:5px;
 padding-right:5px;
 padding-top:5px;
 padding-bottom:5px;
 min-width:112px;
 -moz-box-shadow:    0px 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 0px 4px #000;
  box-shadow:         0px 0px 0px 4px #000;
        border: 1px solid white;
		cursor:pointer;
        
}
.helpSection{
	font-family: "DIN Engschrift Std";
	position:absolute;
	top:0;
	padding-top:20px;
	color:#282828;
}
.helpContainer .title img{
	vertical-align:middle;
	margin-right:5px;
}
.helpContainer .title div{
	display:inline-block;
	vertical-align:middle;
}
/* here code for moreService come */

#moreServiceContainer{
	
	width:auto;
	height:250px;
	margin-left: 20px;
margin-right: 20px;
position: relative;
height: 1200px;
}
#menuWrapper{
	position:absolute; z-index:1;
	top:0px; bottom:0px; left:0;
	right:0;margin:auto;margin-right:20px;margin-left:20px;
	width:auto; 
	
	overflow:auto;
	

}
#menuDetailContent{
	position:relative;
	width:100%;
	height:700px;
}

.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}
.rowtable{
	display:table;
	table-layout:auto;
	width:100%;
	height:100%;
	
}
.rowtable >div{
	display:table-cell;
	vertical-align:middle;
}

.rowtable >div:first-child{
	width:auto;
}

.eventDetails{
display:none;
}
.moreTitle >div:first-child, .moreTitle >div:nth-child(2) {
	left: 0px;
position: relative;
top: 0px;
float: left;
margin-right: -150px;
}
.moreTitle div{
	display:inline-block;
	vertical-align:middle;
}

.adaModeContainer{
background-color:#e4e4e4 !important;
}
.adaNav ul{
display: table;
table-layout: fixed;
padding:10px;
}
.adaNav li{
font-family: "AgencyFb";
display: table-cell;
font-size: 12px;
font-weight: 500;
text-align: center;
padding-top:10px;
color:#282828;
}
.adaNav li img{
width:20px;
height:auto;
}

.accessbility{
	font-family: "AgencyFb";
	background-color:#FFF;
	padding:3px;
	color:#282828;
	border-radius: 15px;
color: #282828;
display: table;
margin-right:20px;
width: auto;
text-align:left;
}
.accessbility img{
vertical-align:middle;
}
.accessbility div{
	display:inline-block;
	vertical-align:middle;
}
.offaccessbility{
	width:136px;
}
.onOff{
	background-color:#a7a7a7;
	border-radius:50%;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
	margin-left:10px;
	color:#FFF;
}
.onada{
	background-color:#ff0000;
	border-radius:50%;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
	margin-left:10px;
	color:#FFF;
}
#controlPanelUI{
	width:475px;
	/*height:48vh;*/
	
	position:absolute;
	bottom:0;
	left:35px;
	overflow:hidden;
	background-color:#FFF;
	box-shadow: 0px 0px 20px #888888;
	border-top: 1px solid #000;
	
}
.controlPanelContainer{
	position:relative;
	width:100%;
	height:100%;
	background-color:#FFF;

}
#searchUI{
	font-family: "DIN Engschrift Std";
width: 100%;

height: 50px;
bottom: 0;
position: absolute;
font-size: 20px;
color: #ffffff;
z-index: 10;
background-color: #000000;
	
}
.searchContainer img{
width:25px;
height:auto;
vertical-align:middle;

margin-right:10px;
	}
.searchContainer{
	position:relative;
	display:table;
	width:100%;
	height:100%;
	

	/*background-color:#d9d6d1;*/
}


.searchContainer > div{
	font-family: "AgencyFb";
	display:table-cell;
	width:50%;
	vertical-align:middle;
	padding-left: 20px;
font-size:16px;
}
.searchContainer >div >div{
	display:inline-block;
	vertical-align:middle;
}
#navigationContainer{


margin-left:20px;
margin-right:20px;
margin-top:17px;
padding-bottom: 20px;
padding-top: 0px;


}
#sideNav{
	
}
#navigationContainer ul,#sideNav ul{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	display:table;
	table-layout: fixed; /* optional, for equal spacing */
}
.topNav li{
	font-family: "DIN Engschrift Std";
	
text-align:center;
}
.topNav li img{
	margin-bottom:10px;
}
#navigationContainer li{
	font-family: "AgencyFb";

display: table-cell;
font-size: 15px;
	font-weight:500;
	text-align: center;
}
#navigationContainer li div{
	display:inline-block;
}

#navigationContainer li img{
	width:50px;
	height:auto;
}
#sideNav li img{
	width:25px;
	height:auto;
}



#wrapper {
	position:absolute; z-index:1;
	top:0; bottom:0; left:0;
	right:0;margin:auto;margin-right:20px;margin-left:20px;
	width:auto;
	border-top: 3px solid #c0c0c0;
	overflow:auto;
	
}

#scrollers {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scrollers ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scrollers li {
	font-family: "DIN Engschrift Std";
	color:#333333;
	border-bottom:2px dotted #c0c0c0;
	font-size:14px;
}

#thelist {

}

#contentPanel{
	position:relative;
	height:100%;
	min-height: 250px;
	
}
.eventDetails{
	height:auto;
	font-family: "DIN Engschrift Std";
	color:#333333;
	font-size:16px;
}
#vendorDetailContent
{
  float: left;
  width:65%;
  font-size: 15px;
  font-family: "DIN Engschrift Std";
}
	#vendorDetailImage
  {
    text-align: right;
  }
  #menuName
  {
    float: left;
    width: 50%;
  }
  .vendorDetail
  {
  margin-left: 93px;
display: none;
min-height: 250px;
position: relative;
}
.vendorDetail .button
{
 position: absolute;
bottom: 20px;
left:0;
font-size: 12px;

color: white;
}

#dietaryItem
{
 
font-family: "AgencyFb";
  background: #ffcb5b;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
display:inline-block;
padding:4px;
font-size: 12px;
margin-right:10px;
font-weight:normal;
margin-top: 10px;
}
#dietarySearch
{
font-family: "AgencyFb";
background: #ffcb5b;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
display: inline-block;
padding: 4px;
font-size: 12px;
margin-right: 10px;
font-weight: normal;



}
.dietarySearchWrap{
	display:table;
	
}
.dietarySearchWrap img{
	vertical-align:middle;
}
.dietarySearchWrap div{
	display:inline;
	vertical-align:middle;
}
#dietarySearch img
{
height:12px;
}
  #vendorDetailRow
  {
    height:30px;
    margin-top: 5px;
    margin-bottom:5px;
  }
#hideDetail
{
  font-size: 15px;
 
  float: right;
  
margin-right: 14px;
	font-weight:bold;
}
#vendorDetailImage img
{
height: 100px;
}
#detailHeader
{
	font-size: 15px;
width: 100%;
/* clear: left; */
margin-bottom: 15px;
height: 30px;
border-bottom: 1px solid #666;
}
#detailHeader img
{
	height: 20px;
}
.menuPage
{
  position: absolute;
  height: 100%;
 font-family: "DIN Engschrift Std";
 color:#333333;
  display: none;
z-index: 1;
top: 0px;
bottom: 0px;
left: 5%;
width: 90%%;
}
.menuList
{
  border-bottom:1px dotted #666;
}


#menuDetail
  {
    height: auto;
    width: 85%;
    left: 15%;
    margin-top: 30px;
    position: relative; 
  }



  #menuDetailRow
  {
    height:15px;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 15px;
  }

#menuHideDetail
{
  font-size: 15px;
 
  float: right;
  
  float:right;
  font-weight:bold;
}

#menuHeader
{
  font-size: 20px;
width: 100%;
/* clear: left; */
margin-bottom: 15px;
height: 50px;
border-bottom: 3px solid #666;
}
#menuHeader img
{
  height: 20px;
}
#foodHeader {
font-size: 15px;
height: 30px;
border-bottom: 1px solid #666;
margin-top: 10px;
color: #323232;
font-family: "DIN Engschrift Std";
}
.searchRow{
  display: block;
  width: 100%;
  color: #323232;
  font-family: "DIN Engschrift Std";
 
}
.searchRow >div{
	float:left;
	height:100%;
}
#searchLeftVendorDirection img
{
	margin-right:5px;
 margin-top:16px;
  
}
#searchItemList {
position: absolute;
z-index: 1;
top: 60px;
bottom: 0px;
left: 5%;
width: 90%%;
overflow: auto;
opacity: 0;
border-top: 1px solid #000000;
}
.noResult
{
  font-size: 20px;
position: absolute;
top: 30%;
display: none;
}

#searchScrollers {
  position:absolute; z-index:1;
/*  -webkit-touch-callout:none;*/
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0;
}

#searchScrollers ul {
  list-style:none;
  padding:0;
  margin:0;
  width:100%;
  text-align:left;
}

#searchScrollers li {
  padding:10px;
  
  line-height:20px;
  border-bottom:1px dotted #ccc;

 
  font-size:14px;
}

#searchVendorName,#searchVendorDescription,#searchLeftVendorImage,#searchRightVendorImage
{
  height:100%;
}
#searchVendorName
{
	
  font-size: 20px;
width:50%;
}
#searchVendorDescription
{
  font-size: 15px;
  width:30%;
}
#searchRightVendorDirection img
{
 margin-right:15px;
  margin-left:5px;
 margin-top:16px;
}
#searchLeftVendorImage
{
  margin-right:15px;
}
#searchLeftVendorImage img,#searchRightVendorImage img
{
width: 35px;
height: auto;
}
#searchRightVendorDirection img,#searchLeftVendorDirection img
{
width: 18px;
height: auto;
}
#searchWrapper {
position: relative;
/* left: 0px; */
height: 100%;
width: 100%;
/* bottom: 10px; */
display: block;
}
#containerSearch
{
width: 100%;
background-color: white;
font-size: 14px;

position: absolute;
z-index: 10;
opacity: 1;
}
.adaModeSearchContainer
{
  bottom: 0px!important;
}
.restroomRow{
font-family: "DIN Engschrift Std";
display: table;
width: 100%;
height: 100%;
color: #323232;
padding-top: 10px;
padding-bottom: 10px;
}
.restroomRow >div{
	display: table-cell;
height: 100%;
vertical-align: middle;
}

#restroomLeftVendorDirection, #restroomRightVendorDirection {
width: 30px;
}
#restroomLeftVendorDirection img
{
	width: 18px;
height: auto;
  
}


#restroomLeftVendorDirection img {
margin-right: 5px;
margin-left: 5px;
}

#restroomWrapper
{
position: absolute;
z-index: 1;
top: 0px;
bottom: 0px;
left: 5%;
width: 90%%;
overflow: auto;
border-top: 1px solid #666;

}





#restroomScrollers {
  position:absolute; z-index:1;
/*  -webkit-touch-callout:none;*/
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0;
}

#restroomScrollers ul {
  list-style:none;
  padding:0;
  margin:0;
  width:100%;
  text-align:left;
}


#restroomScrollers li {
  font-family: "DIN Engschrift Std";
color: #333333;
line-height: 20px;
border-bottom: 4px dotted #dedede;
font-size: 14px;
}

#restroomVendorName,#restroomVendorDescription,#restroomLeftVendorImage,#restroomRightVendorImage
{
  height:auto;
  text-align: left;
}
#restroomVendorName
{
font-family: "DIN Engschrift Std";
font-size: 20px;
color: #333333;
width: 190px;
margin-top: 16px;
}
#restroomVendorDescription
{
  font-size: 15px;
width: 30%;
margin-top: 16px;
}
#restroomRightVendorDirection img
{
 margin-right:15px;
  margin-left:5px;
 margin-top:10px;
}
#restroomLeftVendorImage
{
  margin-right: 15px;
}
#restroomLeftVendorImage img,#restroomRightVendorImage img 
{
width: 35px;
height: auto;
}
#restroomLeftVendorImage,#restroomRightVendorImage 
{
text-align: center;
width: 46px;
}
#restroomRightVendorDirection img,#restroomLeftVendorDirection img
{
width: 18px;
height: auto;
}
#restroomType
{
  position: relative;
}
.merchandiseRow{
font-family: "DIN Engschrift Std";
display: table;
width: 100%;
height: 100%;
color: #323232;
padding-top: 10px;
padding-bottom: 10px;
}
.merchandiseRow >div{
  display: table-cell;
height: 100%;
vertical-align: middle;
}

#merchandiseLeftVendorDirection, #merchandiseRightVendorDirection {
width: 30px;
}
#merchandiseLeftVendorDirection img
{
  width: 18px;
height: auto;
  
}


#merchandiseLeftVendorDirection img {
margin-right: 5px;
margin-left: 5px;
}

#merchandiseWrapper
{
position: absolute;
z-index: 1;
top: 0px;
bottom: 0px;
left: 0;
right: 0;
margin: auto;
margin-right: 20px;
margin-left: 20px;
width: auto;
border-top: 3px solid #c0c0c0;
overflow: auto;
}






#merchandiseScrollers {
  position:absolute; z-index:1;
/*  -webkit-touch-callout:none;*/
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0;
}

#merchandiseScrollers ul {
  list-style:none;
  padding:0;
  margin:0;
  width:100%;
  text-align:left;
}


#merchandiseScrollers li {
  font-family: "DIN Engschrift Std";
color: #333333;
line-height: 50px;
border-bottom: 4px dotted #dedede;
font-size: 14px;
}

#merchandiseVendorName,#merchandiseVendorDescription,#merchandiseLeftVendorImage,#merchandiseRightVendorImage
{
  height:auto;
  text-align: left;
}
#merchandiseVendorName
{
font-family: "DIN Engschrift Std";
font-size: 20px;
color: #333333;
width: 190px;
margin-top: 16px;
}
#merchandiseVendorDescription
{
  font-size: 15px;
width: 30%;
margin-top: 16px;
}
#merchandiseRightVendorDirection img
{
 margin-right:15px;
  margin-left:5px;
 margin-top:10px;
}
#merchandiseLeftVendorImage
{
  margin-right: 15px;
}
#merchandiseLeftVendorImage ,#merchandiseRightVendorImage 
{
text-align: center;
width: 46px;
}
#merchandiseLeftVendorImage img,#merchandiseRightVendorImage img
{
height: auto;
width: 35px;
}
#merchandiseRightVendorDirection img,#merchandiseLeftVendorDirection img
{
width: 18px;
height: auto;
}
#merchandiseType
{
  position: relative;
}
@media all and (min-width: 2000px){

#idleComp iframe
{
	height: 1600px;
	width: 2880px;
}

.instant
{

top: 560px;
width: 2880px;
font-size: 80px!important;
min-height: 250px;

}
#instantImage
{
  height: 144px;
  margin-top:2%;
  margin-left: 50px;
  margin-right: 50px;
}
#instantMessage
{
  margin-top: 3%;
}

.operationAlert
{

top: 560px;
width: 2880px;

height: 1600px;

}

.operationAlert img
{
width: 315px;
margin-left: 1280px;
margin-top: 175px;
margin-bottom: 200px;
}
#OperationAlertMessage
{
font-size: 60px;
margin-left: 335px;
  margin-right: 335px;
}
 
 #OperationAlertTitle
 {
  font-size: 90px;
  margin-bottom: 120px;
  margin-left: 300px;
  margin-right: 300px;
 }

.moreTitle
{
margin-left: 40px;
margin-right: 40px;
font-size: 30px;
padding-top: 15px;
padding-bottom: 15px;
position: relative;
}
.moreTitle img 
{
  width: 40px;
}
.moreTitle #titleText
{
  font-size: 45px;
}
#eventName
{
  width:650px!important;
  font-size: 40px;
  padding-left: 30px;
}
#eventDate
{
  width:250px!important;
  font-size: 30px;
  line-height: 40px;
}
#eventTime
{
  font-size: 30px;
}


  #moreServiceContainer {
margin-left: 50px;
margin-right: 50px;
}

.rowtable .service
{
  width: 200px!important;
  padding-left: 30px;
}
.serviceName{
  font-size: 40px;
}
.rowtable img{
  width:100px;
  margin-top: 15px;
margin-bottom: 15px;
}
.infosubtext
{
  padding-left: 30px;
}
.rowtable
{
  font-size: 40px;
  min-height:120px;
}


.adaPanelHeight {
height: 900px !important;
}
  .idlePlayModule {
  position: absolute;
width: 2880px;
height: 1600px;
top: 560px;
z-index: 100;
}
#location {
height: 144px;
padding-top:50px;
}
#rightLocationText, #leftLocationText{
	font-size: 100px;
}
#middleLocation{
font-size:80px;
}
#middleLocation img{
	width:auto;
}
#rightTable img, #leftTable img {
	width:96px;
	height:auto;
}
#header {
height:368px;
}
#aside .paidAds {
	height:307px;
}
#aside .paidAds  img{
	width: 540px;
margin-left: 50px;
margin-top: 35px;
}
.paidAds img{
	width:960px;

}
.freeAds ,.freeAds img{
	width:960px;
  height: 1600px;

}
#vendorData{
	height:370px;
}
#container{
	 background-size: 100% 368px;
	height: 1970px;
}
#mapContent{
	height:1600px;
	width:100%;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #96A9BB 0%, #DBDBDB 50%, #DBDBDB 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #96A9BB 0%, #DBDBDB 50%, #DBDBDB 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #96A9BB 0%, #DBDBDB 50%, #DBDBDB 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #96A9BB), color-stop(0.5, #DBDBDB), color-stop(1, #DBDBDB));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #96A9BB 0%, #DBDBDB 50%, #DBDBDB 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #96A9BB 0%, #DBDBDB 50%, #DBDBDB 100%);
}

#mapContent img {
height: 1600px;

}
#vendorName{
	font-size:80px;
	
}

#vendorTitle, #vendorDescription{
	font-size:70px;
}
	#leftVendorDirection img, #rightVendorDirection img
{
	width:145px;
	height:auto;
	}
	#leftVendorImage img, #rightVendorImage img
{
	width:250px;
	height:250px;
	}
		.leftvendorLogo img, .rightvendorLogo img
{
	width:250px;
	height:250px;
	}
	
	#controlPanelUI {
width: 1334px;
/* height: 48vh; */
height: 1050px;
left: 100px;
border-top: 5px solid #000;
}

#navigationContainer li {
width: 200px;
color: #323232;
font-size: 30px;

}
#navigationContainer li img{
width: 150px;
}
#scroller li{
	line-height:70px;
}
.nearbyRow{
	padding-top:20px;
	padding-bottom:20px;
}
#nearbyVendorName{
	font-size: 40px;
width: 640px;
padding-left:45px;

}
#nearbyVendorDescription {
	font-size:30px;
  width:auto;
 line-height: 40px;
}
#neabyLeftVendorImage, #neabyRightVendorImage {

text-align:center;
width:134px;

}
#neabyLeftVendorImage
{
	margin-right:30px;}
	#nearbyRightVendorDirection
	{
		margin-right:30px;}
#neabyLeftVendorImage img, #neabyRightVendorImage img{
 width:100px;
}
#nearbyRightVendorDirection , #nearbyLeftVendorDirection  {

text-align:left;
width:50px;

}
#nearbyRightVendorDirection img, #nearbyLeftVendorDirection img{
	width:50px;
	
	
}

#foodType
{
  position: relative;

margin-bottom: 55px;
}


#foodHeader
{
  font-size: 45px;

height: 100px;
}

#vendorDetailContent
{
  float: left;
  width:60%;
  font-size: 40px;
  font-family: "DIN Engschrift Std";
}
	#vendorDetailImage
  {
    text-align: right;
  }
  #menuName
  {
    float: left;
    width: 70%;
  }
  #vendorDetail
  {
  height: 400px;
width: 85%;
left: 15%;
margin-top: 100px;
position: relative; 
}
#vendorDetail button
{
 position: absolute;
bottom: 0px;
height: 15%;
font-size: 36px;
width: 100%;
left: 0;
background-color: black;
color: white;
}

#hideEvent img
{
  height: 40px;
float: right;
margin-left: 20px;
margin-top: 7px;

}

.eventDetails
{
  margin-top: 25px;

}
#hideEvent div
{
float: right;
}
#hideEvent
{
font-size: 40px;
margin-bottom: 35px;
height: 50px;
padding-bottom: 20px;
font-family: "DIN Engschrift Std";
margin-right: 30px;
}


  #vendorDetailRow
  {
    height:50px;
    margin-top: 10px;
    margin-bottom:10px;
  }
  .rightArrow img
  {
    width: 40px;
margin-top: 100%;
  }
.hide
{
  width: 300px;
}
  #bankLogo
  {
    height: 250px;
    width: 650px;
    margin-left: 300px;
    margin-top: 60px;

    border-left: 4px solid #5c5c5c;
  }

  #middleLocation div
  {
    margin-left: 60px;
font-size: 70px;
font-weight: bold;
  }
  #middleLocation img{
    height: 85px;
  }
  .downArrow img
  {
  width: 40px;
height: auto;

  }

.eventSlide
{
  margin-bottom: 60px;
}

#rightVendorDirection img
{
  margin-right: 50px;
}
.insideButton img
{
  float: right;
width: 40px;
height: auto;
margin-top: 10px;
margin-right: 35px;
  
}
.logohide
{
  display: none!important;
}

.leafImage
{
  height: 200px;
width: 95%;
margin-left: 2.5%;
margin-top: 30px;
margin-bottom: 30px
}

#levelImage
{
 width: 125px;
height: 125px!important;
z-index: 400;
position: absolute;
margin-left: 2755px;
}
.accessbility{
		border-radius:52px;
		width:auto;
		text-align:left;
		margin-right:50px;
	}
	
	#seatFinderWrapper .moreTitle .backButton{
		display:none;
		top:20px;
	}
	.topMsgtxt{
		font-size: 35px;
margin-bottom: 25px !important;
border-bottom: 4px dotted #d6d6d6;
padding: 20px;
height:40px;
		margin-left:50px;
		margin-right:50px;
		}
		.mapImg{
float:left;
margin-right:20px;
display:none;
		}
		
		.seatfinderNav li{
	font-family: "DIN Engschrift Std";
	width:576px;
	font-size:40px;
	padding:21px;
	margin-bottom:24px;
	border:4px solid #50a1ec;
	border-radius:20px;
	}
	#seatFinderTable{
		margin-left:50px;
		margin-right:50px;
	}
	.listNumberContainer {
width: 592px;
height: 717px;
margin-bottom:22px;
	}
	.seatFinderRowSelected{
	
	font-size:60px !important;
}
.non-selected{
	font-size:40px ;
}
	.listNumberContainer .Seatband {

height: 40px;



padding: 35px;
font-size: 40px;
width: auto;
left: 16px;
right: 10px;

top: 308px;
	}
	.seatFinderScroller li {
		font-size:40px;
		line-height: 60px;
padding: 22px;
text-align: center;
margin-left: 220px;
width: auto;
max-width: 380px;
padding-right: 0px;
text-indent: -150px;
	}
	#SeatListWrapper,#SeatListWrapper1,#SeatListWrapper2{
		top:317px;
		bottom:330px;
	}
	.seatFinderFooter {
		font-family: "DIN Engschrift Std";
margin-left: 50px;
margin-right: 50px;
border-top: 4px solid #999;
padding-top: 40px;
margin-top: 10px;

}
.insideButton{
	font-size:40px;
	min-width:314px;
	border-radius:15px;
	 -moz-box-shadow:    0px 0px 0px 8px #000;
  -webkit-box-shadow: 0px 0px 0px 8px #000;
  box-shadow:         0px 0px 0px 8px #000;
        border: 3px solid white;
}
.insideButton .buttonTab{
	display: table;
	height:100%;
}
.insideButton .buttonTab div{
	display: inline-block;
	vertical-align: middle;
	height:100%;
	}
	.insideButton .buttonTab img{
		float:none;
	margin-top:0px;
	vertical-align: middle;
margin:0;
margin-right:5px;
margin-left:5px;
	}
.helpSection {
font-size:35px;

padding-top: 20px;
}
.helpContainer .title{
	float:left;
	text-align:left;
}
.helpContainer .description{
	width:620px;
	display:none;
	
		}
.helpContainer .title img{
	width:50px;
}
.onOff{
	padding:15px;
}
.onada{
	padding:15px;
}

.offaccessbility{
	width:300px;
}
.adaNav li{
	font-size:25px;
}
#sideNav li img{
	width:50px;
}
.refinedScreen{
	margin-left: 50px;
	margin-right:50px;
	display:none;
}
.refinedScreen .refinedTable{
		display:table;
		width:100%;
		margin-top:160px;
		margin-bottom:50px;
	}
	.refinedScreen .refinedTable >div{
		display:table-cell;
		width:auto;
		height:220px;
		
		
		text-align:center;
	}
	.refinedTable img
	{
		width: 200px;
		margin-left: 40px;
		display: inline-block;
		vertical-align: middle;
	}
	.refinedScreen .refinedTable >div >div{
		font-family: "DIN Engschrift Std";
		width:220px;
		height:170px;
		
		margin:auto;
		background-color:#4284c5;
		font-size:40px;
		color:#FFF;
		display:inline-block;
		padding-top:50px;
		vertical-align:middle;
	}
	.refinedScreen .refinedTable >div >div p{
		font-size:50px;
		margin:0px;
		padding:0px;
		font-weight:bolder;
		color:#FFF;
	}
	.refineFooter{
		border-top:2px solid #999;
		padding-top:50px;
		font-family: "AgencyFb";

font-size: 30px;

text-align: center;

color:#282828
	}
	.backButton{
		display:none;
		position:static !important;
		float:none;
	}
	.backButton img{
		float:none;
		vertical-align:middle;
	}
	.hideDetail{
		position:absolute;
		right:0px;
		display:table;
		
	}
	
	.hideDetail img{
		vertical-align:middle;
		width:30px;
		margin-left:10px;
		height:30px;
	}
	.hideDetail div{
		display:table-cell;
	vertical-align:middle;
	}
	.leftArrow
	{
		float:none!important;
	}
	.premiumClass
	{
		border:4px solid #ff0000!important;
		background-color:#dcdcdd;
		background-image: url("../assets/imgs/premium.png");
		background-repeat: repeat-x;
	}
	.seatfinderADA li
	{
		font-size: 24px!important;
		padding: 12px!important;
	}
	.listNumberADA
	{
		height: 500px!important;
		
	}

 #secondList .listNumberContainer
	 {
	 	margin-left: -25px;
	 }
	 .head
	 {
	 	white-space: pre-wrap;
max-width: 300px;
	 }
	 #searchUI{
height:100px;
}
#wrapper
{
	margin-right:50px;margin-left:50px;
}
#contentPanel{
	min-height:645px;
}
#navigationContainer{
padding-top: 55px;
padding-bottom: 45px;
margin-left:50px;
margin-right:50px;
}
.searchContainer >div{
	font-size:30px;
	
	padding-left:50px;
}
.searchContainer >div >div{
	display:inline-block;
}
.searchContainer img{
	width:70px;
	
}
.topNav li img{
	margin-bottom:20px;
}
#navigationContainer li{
	font-size:30px;
	font-weight:bold;
}
#scrollers li {
	border-bottom:4px dotted #c0c0c0;
}
.eventDetails{
	
	font-size:30px;
}
#foodType
{
  position: relative;

margin-bottom: 10px;
}
#vendorDetailImage img
{
height: 340px;
width: 300px;
margin-right: 80px;
margin-top: 35px;
}

#dietaryItem
{
 
padding:10px;
font-size: 25px;
border-radius: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
margin-right:15px;

}
#dietarySearch
{
 padding: 10px;
font-size: 25px;
border-radius: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
margin-right: 22px;

}
#dietarySearch img
{
height:40px;
margin-left: 15px;
}
#foodHeader
{
  font-size: 30px;
height: 85px;
border-bottom: 2px solid #666;

}
#foodText
{
  
}

#vendorDetailContent
{
  float: left;
  width:60%;
  font-size: 30px;
  font-family: "DIN Engschrift Std";
}
	#vendorDetailImage
  {
    text-align: right;

  }
  #menuName
  {
    float: left;
    width: 70%;
  }
  .vendorDetail
  {
  height: 600px;
margin-left:237px;
display: none;

}
.vendorDetail .button
{

bottom: 40px;

font-size: 40px;
width:416px;
padding:20px;
color: white;
}


  #vendorDetailRow
  {
   height: 50px;
   margin-bottom: 20px;
  }
#hideDetail
{
  font-size: 40px;
 
  float: right;
  
  float:right;
	font-weight:bold;
}

#detailHeader
{
	font-size: 40px;
width: 100%;
/* clear: left; */
margin-bottom: 35px;
height: 50px;
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 3px solid #666;
}
#detailHeader img
{
	height: 35px;
float: right;
margin-top: 10px;
margin-left: 15px;
}

#hideDetail div
{
  float: left;
}
#menuDetail
  {
  height: auto;
width: 85%;
left: 15%;
margin-top: 60px;
position: relative; 
}



  #menuDetailRow
  {
    height:50px;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 40px !important;
	border:none !important;
  }

#menuHideDetail
{
  font-size: 40px;
 
  float: right;
  
  float:right;
  font-weight:bold;
}


#menuHeader img
{
  height: 40px;
float: right;
margin-top: 6px;
margin-left: 15px;
}

#menuHideDetail div
{
  float: left;
}

#menuHeader
{
  font-size: 40px;
width: 100%;
/* clear: left; */
margin-bottom: 35px;
padding-bottom: 10px;
height: 50px;
}
.menuList
{
  border-bottom:1px dotted #666;
}
#searchText
{
  font-size: 40px;
height: 40px;
position: relative;
margin-top: 0px;
padding-left: 25%;
}

.searchList
{
  line-height: 50px!important;
}
#searchVendorName{
  font-size: 40px;
margin-top: 65px;
margin-bottom: 65px;
width: 40%
}
#searchVendorDescription {
  font-size:30px;
  width:60%;
  margin-top: 65px;
  margin-bottom: 65px;

}


#containerSearch
{

height: 660px;

top:895px;
}
#searchScrollers li {
 
  border-bottom:3px dotted #ccc;
}


#containerSearch
{
font-size: 40px;
}
#searchItemList {
border-top: 3px solid #000000;
  }


.noResult
{
  font-size: 53px;
   font-family: "DIN Engschrift Std";
position: absolute;
top: 30%;
display: none;
margin-left: 25px;
margin-right: 25px;
}
.restroomRow
{
  padding-top: 20px;
padding-bottom: 20px;
}
.restroomList
{
  line-height: 50px!important;
}
#restroomVendorName{
font-size: 40px;
width: 666px;
padding-left: 45px;
}
#restroomVendorDescription {
 font-size: 30px;
width: auto;
  
}


#containerrestroom
{
width: 100%;

font-size: 40px;
height: auto;
position: absolute;
z-index: 10;
opacity: 1;
bottom: 14%;
}
#restroomWrapper
{

border-top: 2px solid #666;

}

#restroomType
{
  position: relative;
margin-top: 35px;
margin-bottom: 55px;
}

#restroomLeftVendorImage, #restroomRightVendorImage{
text-align: center;
width: 134px;
}
#restroomLeftVendorImage img, #restroomRightVendorImage img {
width: 100px;
}
#restroomRightVendorDirection, #restroomRightVendorDirection {
text-align: left;
width: 50px;
}

#restroomRightVendorDirection img, #restroomLeftVendorDirection img {
width: 50px;
}
.merchandiseRow
{
  padding-top: 20px;
padding-bottom: 20px;
}
.merchandiseList
{
  line-height: 50px!important;
}
#merchandiseVendorName{
 font-size: 40px;
width: 666px;
padding-left: 27px;
}
#merchandiseVendorDescription {
font-size: 30px;
width: auto;
line-height: 40px;
  
}


#containermerchandise
{
width: 100%;

font-size: 40px;
height: auto;
position: absolute;
z-index: 10;
opacity: 1;
bottom: 14%;
}
#merchandiseWrapper
{

margin-right: 50px;
margin-left: 50px;
bottom: 100px;
}

#merchandiseType
{
  position: relative;
margin-top: 35px;
margin-bottom: 55px;
}

#merchandiseLeftVendorImage, #merchandiseRightVendorImage{
text-align: center;
width: 134px;
}
#merchandiseLeftVendorImage img, #merchandiseRightVendorImage img {
width: 100px;
}
#merchandiseLeftVendorDirection, #merchandiseRightVendorDirection {
text-align: left;
width: 50px;
}

#merchandiseLeftVendorDirection img, #merchandiseRightVendorDirection img {
width: 50px;
}
.highLightClass{
	font-style:italic;
	font-weight:bolder;
	
}
.topBlur{
	position:absolute;
	top:0;
	left:0;
	right:0;
	left:0;
	margin:auto;
	width:535px;
	height:50px;
	 -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  background-color:#c2d8ed;
  z-index:1000;
  -webkit-backface-visibility: hidden;
}
.shadow{
}
.bottomBlur{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	left:0;
	margin:auto;
	width:535px;
	height:50px;
	 -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  background-color:#c2d8ed;
   z-index:1000;
   -webkit-backface-visibility: visible;
}
}