
<div id="wrapper" >
	<div >
	<ul id="thelist" style="list-style:none;">
		<li ng-repeat="x in resData | orderBy:['_Num','_VN']" style="border-bottom:4px dotted #c0c0c0;">
			<div class="nearbyRow clearfix " ng-click="openRestrauntDetail($event,x._SI,null); callWalkPath($event,x._SI);" >
				<div id="nearbyLeftVendorDirection"  ><img id="nearbyVendorimages" ng-if="x._PxD=='Left'"  src="assets/imgs/icons/LeftArrow.svg" /></div>
				<div id="neabyRightVendorImage" ><img  id="nearbyVendorimages" src="assets/imgs/icons/{{x.icon}}.svg" /></div>
				<div id="nearbyRightVendorDirection" ><img id="nearbyVendorimages" ng-if="x._PxD=='Right'" src="assets/imgs/icons/RightArrow.svg" /></div>
				<div id="nearbyVendorName">{{x._VN}}</div>
				<div id="nearbyVendorDescription">{{x._VTC}}</div>
				<div id="dietary" ng-if="x._DF != '' && x._DF"><div id="dietaryItem">{{x._DF}}</div></div>
			</div>
		</li>
	</ul>
	<div><div class="downArrow"><img src="assets/imgs/icons/test.svg"/></div><div id="findText">Can't find what you're looking for? Tap 'Search' below.</div></div>
	</div>
<!-- 	<div id="scrollers" style="overflow:hidden; height:1100px; bottom:auto;">
		<div id="foodHeader" class="clearfix"><div id="foodText">Show only:</div></div>
		<ul id="thelist">
			<li ng-repeat="x in resData">
			<div class="nearbyRow clearfix "> ng-click="openRestrauntDetail($event,{{listItem._SI}},null); callWalkPath($event,{{listItem._SI}});" 
				<div id="nearbyLeftVendorDirection"></div>
				<div id="nearbyLeftVendorImage"></div>
				<div id="nearbyRightVendorDirection"></div>
				<div id="nearbyVendorName">{{x._VN}}</div>
				<div id="nearbyVendorDescription"></div>
			</div>	
			<div class="vendorDetail">
				<div id="detailHeader"><div id="topPicks"></div></div>
				<div id="vendorDetailContent">
					<div class="vDesc"></div>
					<div class="adsDivLegends"></div>
					<div id="vendorDetailRow"></div>
				</div>
				<div id="vendorDetailImage"><img src=""></div>
				<div class="insideButton button" ng-click="viewFullMenu($event)">View Full Menu<img src=""></div>
			</div>
			</li>
		</ul>
		<div><div class="downArrow"><img src="assets/imgs/icons/test.svg"/></div><div id="findText">Can't find what you're looking for? Tap 'Search' below.</div></div>
	</div>
</div> -->
 <div class="menuPage">
	<div class="menuList">
	</div>
	<div id="menuDetail">
		<div id="menuHeader">
			<div id="topPicks"> 
				<div ng-click="closeMenu($event)"id="menuHideDetail" >
					<div>hide</div><img src="assets/imgs/icons/icon_hideButton.svg"/></div>
					<div>Full Menu
					</div>
				</div>
			</div>
			<div id="menuDetailContent">
            <div id="menuWrapper">
            <div id="scrollers">
            <ul id="thescroll">
				<li id="menuDetailRow" ng-repeat="item in menuArray">
					<div id="menuName">{{item._name}} </div>
					<div id="menuPrice">{{item._price }}</div>
				</li>
               </ul> 
                </div>
                </div>
			</div>

	</div>
</div>